<!DOCTYPE HTML>


<html ng-app="register_app">

<head>
     
       <title> Home </title>
            <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="resources/css/respstrap.css" type="text/css">
        <link rel="stylesheet" href="resources/css/ipel.css" type="text/css">
    
    
      <script src="resources/js/angular.js" ></script>
        <!-- Latest compiled and minified JavaScript -->
        <!-- JQUERY-->
        <script src="resources/js/jquery.js" ></script>
       <script src="resources/js/respstrap.js" ></script>
    <script src="controllers/register_controll.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    </head>
<body style="background-color:black;" ng-controller="RegisterCont">
     
    <!-------------------------------------------------------------------------------------------------------------------------------->
         
          <!-- ------------------------------------------------- HEADER ------------------------------------------------->
    
     <div class="row" align="center"  ng-model="post" style="display:float-left;color:#d35400;font-size:60px;font-family: 'Fredoka One', cursive;">
            <div class="col-md-1"></div>
         <div class="col-md-2" ><img style="margin-left:170px;" class="img-responsive" src="resources/images/650logo.png"/></div>
          <div class="col-md-6"><a class="heading" href="index.html">  INDIAN PANTHER   <div style="font-size:40px;">The Democratic Media!
            </div></a></div>
         <div class="col-md-3"></div>
         
            
        </div>
        <!-------------------------------------------------------- done header--------------------------------------------->
    
    <!----------------------------------------------------LOGIN FORM-------------------------------------------------------->
    <form id="loginform" >
        
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <div class="row" align="center">
    
    <div class="col-md-2"></div>
        
   <div class="col-md-8">
       
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Indian Panther Awaits</h3>
  </div>
  <div class="panel-body">
    
      
      <!---------------------------------------------------TEXT FIELDS START------------------------------------------------------------------>
      <div class="row">
      
      <div class="col-md-6">
      <label> Name :</label>
      <input type="text" ng-model="user.name" class="form-control" placeholder="Enter your name" />
          </div>
          <div class="col-md-6">
      <label> Email id:</label>
      <input type="text" ng-model="user.email" class="form-control" placeholder="Email ID" />
          </div>
          
          </div>
      <hr/>
      
      <div class="row">
      
      <div class="col-md-6">
      <label> Password:</label>
      <input type="password" ng-model="user.password" class="form-control" placeholder="password" />
          </div>
          <div class="col-md-6">
      <label> Retype Your Password</label>
      <input type="password" class="form-control" placeholder="Repassword" />
          </div>
          
          </div>
      <hr/>
      
      
      <div class="row">
      
      <div class="col-md-3">
          
          <label> Your Language? </label>
          <select multiple ng-model="user.language"class="form-control">
              
              <option value="ENGLISH"> English </option>
              <option value="TELUGU"> Telugu </option>
              <option value="HINDI"> Hindi </option>
              <option value="TAMIL"> Tamil </option>
	
          </select>
          
          </div>
      <div class="col-md-3">
          <label>Month of your Birth</label>
          <select ng-model="user.bmonth" class="form-control" id="form_dob_month" name="dob_month">
	<option value="-">-</option>
	<option value="1">January</option>
	<option value="2">Febuary</option>
	<option value="3">March</option>
	<option value="4">April</option>
	<option value="5">May</option>
	<option value="6">June</option>
	<option value="7">July</option>
	<option value="8">August</option>
	<option value="9">September</option>
	<option value="10">October</option>
	<option value="11">November</option>
	<option value="12">December</option>
          </select></div>
          <div class="col-md-3">
              <label>Date of your Birth</label>
 <select ng-model="user.bdate" class="form-control" id="form_dob_day" name="dob_day">
	<option value="-">-</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
	<option value="30">30</option>
	<option value="31">31</option>
              </select></div>
              <div class="col-md-3">
                  <label>Year of your Birth</label>
 <select ng-model="user.byear" class="form-control" id="form_dob_year" name="dob_year">
	<option value="-">-</option>
	<option value="2011">2011</option>
	<option value="2010">2010</option>
	<option value="2009">2009</option>
	<option value="2008">2008</option>
	<option value="2007">2007</option>
	<option value="2006">2006</option>
	<option value="2005">2005</option>
	<option value="2004">2004</option>
	<option value="2003">2003</option>
	<option value="2002">2002</option>
	<option value="2001">2001</option>
	<option value="2000">2000</option>
	<option value="1999">1999</option>
	<option value="1998">1998</option>
	<option value="1997">1997</option>
	<option value="1996">1996</option>
	<option value="1995">1995</option>
	<option value="1994">1994</option>
	<option value="1993">1993</option>
	<option value="1992">1992</option>
	<option value="1991">1991</option>
	<option value="1990">1990</option>
	<option value="1989">1989</option>
	<option value="1988">1988</option>
	<option value="1987">1987</option>
	<option value="1986">1986</option>
	<option value="1985">1985</option>
	<option value="1984">1984</option>
	<option value="1983">1983</option>
	<option value="1982">1982</option>
	<option value="1981">1981</option>
	<option value="1980">1980</option>
	<option value="1979">1979</option>
	<option value="1978">1978</option>
	<option value="1977">1977</option>
	<option value="1976">1976</option>
	<option value="1975">1975</option>
	<option value="1974">1974</option>
	<option value="1973">1973</option>
	<option value="1972">1972</option>
	<option value="1971">1971</option>
	<option value="1970">1970</option>
	<option value="1969">1969</option>
	<option value="1968">1968</option>
	<option value="1967">1967</option>
	<option value="1966">1966</option>
	<option value="1965">1965</option>
	<option value="1964">1964</option>
	<option value="1963">1963</option>
	<option value="1962">1962</option>
	<option value="1961">1961</option>
	<option value="1960">1960</option>
	<option value="1959">1959</option>
</select></div>
      
      </div>
      <hr/>
      <div id="error_reg_box"></div>
      <button class="btn btn-md btn-primary" ng-click="registerNow()" > Login Now</button>
      
      
      
      
      
      <!-------------------------------------------------------------------------------------------------------------------------------->
  </div>
</div>
        </div>
        
         <div class="col-md-2"></div>
    
    </div>
        </form>
    <!----------------------------------------------------REGISTER ENDS----------------------------------------------------------->
    
    
    </body>



</html>