<!DOCTYPE HTML>

<html>

<head>
    
    <link rel="stylesheet" href="resources/css/respstrap.css" type="text/css">
        <link rel="stylesheet" href="resources/css/ipel.css" type="text/css">
        
        <title> Home </title>
    
    </head>
<body>
    
    
    
    
    
    
      <script src="resources/js/angular.js" ></script>
        <!-- Latest compiled and minified JavaScript -->
        <!-- JQUERY-->
        <script src="resources/js/jquery.js" ></script>
       <script src="resources/js/respstrap.js" ></script>
    </body>

</html>